/* Customize collapsed button background */
.ant-menu-inline-collapsed .ant-menu-inline-collapsed-button {
    background-color: white;
    /* Change to your desired background color */
}

/* Create a more specific selector */
.custom-float-btn-body.ant-float-btn .ant-float-btn-body {
    display: block;
    /* Your custom display value */
}


.menuItems {
    font-weight: 800;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: "#659DBD";
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 4em;
}

.pButton {
    margin-top: 1rem;
}

.parentComponent {
    width: 100%;
    /* Set the width of the parent container */
    height: auto;
    /* Allow the height to adjust based on the image aspect ratio */
    /* Add any other styles for the parent container */
}

.profilePhoto {
    width: 100%;
    /* Make the image fill the width of its parent container */
    height: 100%;
    /* Make the image fill the height of its parent container */
    object-fit: cover;
    /* Ensure the image covers the entire container */
}

@media (max-width: 768px) {

    /* Font size adjustments for large screens (lg) */
    .title {
        font-size: 3em;
        margin-block: 1px;
        /* Adjust as needed */
    }

    .text {
        font-size: 1em;
        margin-inline: 3rem;
        margin-top: 1rem;
        /* Adjust as needed */
    }
}